name: deployment workflow
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - name: get the code
          uses: actions/checkout@v4
        - name: az login
          uses: azure/login@v1
          with:
            creds: ${{  secrets.azure }}   #calling sp ids 
        - name : terraform init
          working-directory: Terraform-infra
          run: terraform init

        - name : terraform validate
          working-directory: Terraform-infra
          run: terraform validate

        - name : terraform plan
          working-directory: Terraform-infra
          run: terraform plan

        - name : terraform apply
          working-directory: Terraform-infra
          run: terraform apply --auto-approve

        - name: set up dotnet
          uses: actions/setup-dotnet@v4
          with:
          dotnet-version: 8.0.x
        - name: restore dependencies
          run: dotnet restore  
        - name: build
          run: dotnet build --configuration Release --no-restore  
        - name: publish app
          run: dotnet publish flipkart-clone.csproj -c Release -o publish
        - name: deploy webapp
          uses: azure/webapp-deploy@v4
          with: 
            app name: testapp9657
            package: publish

            
          
          